<tr>
  <td class="datetime"><%= Track.human_attribute_name('created_at') %></td>
  <td class="request"><%= t('search.request') %></td>
  <td class="title" data-flexible-width="40%"><%= Track.human_attribute_name('title') %></td>
  <td class="artist" data-flexible-width="40%"><%= Track.human_attribute_name('artist') %></td>
  <td class="album" data-flexible-width="20%"><%= Track.human_attribute_name('album') %></td>
  <td class="duration"><%= Track.human_attribute_name('duration') %></td>
  <td class="images"><%= t('search.images') %></td>
  <td class="lyrics"><%= t('search.lyrics') %></td>
  <td class="comments"><%= t('search.comments') %></td>
</tr>