<div id="navbar">
  <div class="hidden" id="image-info"></div>
  <nav id="sitemap">
    <ul class="navbar-list">
      <li data-hover="true"><%= link_to t('navbar.news'), news_path, remote: true %></li>
      <li data-hover="true"><%= link_to t('navbar.search'), search_path, remote: true %></li>
      <li data-hover="true"><%= link_to t('navbar.catalog'), root_catalog_path, remote: true %></li>
      <li data-hover="true"><%= link_to t('navbar.history'), history_path, remote: true %></li>
      <li data-hover="true"><%= link_to t('navbar.latest'), latest_path, remote: true %></li>
      <li data-hover="true"><%= link_to t('navbar.upload'), upload_path, remote: true %></li>
      <li data-hover="true"><%= link_to t('navbar.images'), images_path, remote: true %></li>
      <li data-hover="true"><%= link_to t('navbar.chat'), chat_path, remote: true %></li>
      <li data-hover="true"><%= link_to t('navbar.faq'), faq_path, remote: true %></li>
      <li data-hover="true"><%= link_to t('navbar.feedback'), issues_path, remote: true %></li>
      <li data-hover="true"><%= link_to 'phate.m3u', '/phate.m3u' %></li>
      <li data-hover="true"><%= link_to %(<i class="fa fa-cog"></i>).html_safe + t('navbar.preferences'), preferences_path, remote: true, data: { intro: t('views.layouts.sitemap_preferences_data_intro'), position: 'top' } %></li>
    </ul>
    <%= render_navbar_list_member %>
  </nav>
</div>