<table class="image-instance">
  <tbody>
  <tr><td colspan="2" title="<%= image.track.tags %>">
    <%= link_to '[+]', track_images_path(image.track), remote: true %>
    <%= image.track.long_title %>
  </td></tr>
  <tr>
    <th rowspan="5">
      <%= link_to image.cdn_url, target: '_blank' do %>
        <%= image_tag image.thumbnail, size: '90x90', alt: image.hash %>
      <% end %>
    </th>
  </tr>
  <tr><td><%= t('images.posted_date') %>: <%= date_tag image.created_at %></td></tr>
  <tr><td><%= t('images.source_url') %>: <%= image.source.present? ? link_to(image.source_abbreviation, image.source, target: '_blank') : 'N/A' %></td></tr>
  <tr><td><%= t('form.nickname') %>: <%= image.nickname.present? ? image.nickname : 'No Name' %></td></tr>
  <tr><td><%= t('form.tripcode') %>: <%= get_userip_with_tripcode_and_admin_address_peek(image) %></td></tr>
  <tr>
    <td colspan="2" class="<%= image.status_msg %>">
      <%= t('images.status') %>: <%= render_image_status_msg(image) %>
      <%= render_image_edit_link(image) %>
    </td>
  </tr>
  </tbody>
</table>